body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.quiz-container {
    width: 550px;
    padding: 20px;
    border: 4px solid orange;
    border-radius: 15px;
    background-color: black;
    color:orange;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    text-align: center;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: darkorange;
}
input[type="text"], 
input[type="email"] {
    width: 50%;
    margin-top: 5px;
    padding: 4px;
    background-color: darkgray;
}

.form-group {
    margin-bottom: 20px;
}

hr {
    border: none;
    border-top: 1px solid darkgray;
}


button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: black;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: darkorange;
}

span {
    color: tomato;
}
